header {
	text-align: center;
	height: 50%;
    border-radius: 0 0 85% 85% / 30%;
    color: #FFF;
    background-image: linear-gradient( 135deg, #B993D6, #8CA6DB 80%);
    padding: 50px;
    margin:-10px
}
